@model CreateCategoryViewModel

@{
    ViewData["Title"] = "Yeni Kategori Ekle";
}

<h2 class="mb-4">Yeni Kategori Ekle</h2>

<form asp-action="Create" method="post">
    <div class="form-group mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a asp-action="Index" class="btn btn-secondary">Geri</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
